@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #6A48E8;
  --color-secondary: #484848;
  --color-foreground: var(--foreground);
  --font-sf-pro: var(--font-sf-pro);
  --font-gothic: var(--font-century-gothic);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*Align Debugger*/

/* *{
  border: 1px red solid;
} */

body {
  font-family: var(--font-sf-pro), sans-serif !important;
}


.sfPro {
  font-family: 'SF Pro Display', sans-serif;
}

.gothicFont {
  font-family: var(--font-century-gothic), Arial, sans-serif;
}

.hidden-content {
  opacity: 0 !important;
  visibility: hidden;
}
